.achievements-container {
  text-align: center;
  margin: 20px auto;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 10px;
}

.achievements-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.achievement-item {
  position: relative;
  width: 300px;
  height: 200px;
  perspective: 600px;
  cursor: pointer;
}

.achievement-content {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.5s ease-in-out;
  transform-style: preserve-3d;
}

.achievement-item:hover .achievement-content {
  transform: rotateY(180deg);
}

.achievement-front,
.achievement-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.achievement-front {
  background: white;
}

.achievement-front img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.achievement-front p {
  margin-top: 10px;
  font-weight: bold;
  color: #333;
  text-align: center;
}

.achievement-back {
  background: rgb(67, 64, 64);
  color: #00f7ff;
  font-weight: bolder;
  transform: rotateY(180deg);
  text-align: center;
  font-size: 14px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}