.count-timer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    background-color: #333;
    color: #fff;
    border-radius: 20%;
    font-size: 1.2rem;
    font-weight: bold;
  }
  